body {
  background-color: #131417 f0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  max-width: 750px;
  margin: 4rem auto;
  font-family: Roboto;
}
.container .card {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px #000;
  width: 14rem;
  height: 24rem;
  border-radius: 8px;
  overflow: hidden;
  margin: 13px auto;
}
.container .card .card-img {
  perspective: 1000px;

}
.container .card .card-img .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.container .card .card-img:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.container .card .card-img .flip-card-front, .container .card .card-img .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
 /* Safari */
  backface-visibility: hidden;
}
.container .card .card-img .flip-card-front {
  background-color: #bbb;
  color: black;
}
.container .card .card-img .flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.container .card .card-img img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  object-position: top;
}
.container .card .card-body {
  padding: 1rem;
  margin-top: 17rem;
}
.container .card .card-body h3 {
  margin: 0;
}
.container .card .card-body small {
  opacity: 0.6;
  margin-bottom: 0;
}
.support-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 1rem;
}

.icons{
  padding-top: 1rem;
}

.icons a{
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem;
  color: #f4f4f4;
}
/* /////////////backgound */

.area{
  background: rgb(16, 15, 33);  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
}

.circles{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}